<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Estudio</title>
</head>
<body>


	<h1>Cadastro de Estudio</h1>
	
	<form action="estudio" method="post">
		Nome<input type="text" name="txtnome" autocomplete="off"><br><br>
		Musicas Gravadas<input type="text" name="txtmusicasGravadas" autocomplete="off"><br><br>
		Taxa de Horas<input type="text" name="txttaxaHoras" autocomplete="off"><br><br>
		<input type="hidden" name="acao" value="cadastro">
		<input type="submit" value="Cadastrar Estudio">
	</form>
	
</body>
</html>